/*
Theme Name: Alexandria
Theme URI: https://www.themealley.com/alexandria/
Description: HTML5 & CSS3 Responsive WordPress Business theme with business style home page layout with welcome section, 3 product/services blocks and a client quote/testimonial section. 2 logo section layout options. 2 premade (Blue, Red) ready to use color schemes/skins. 3 widget areas in footer, 1 widget area in sidebar. 2 page layouts including a full width page template. Social media icons in footer. 
Version: 2.2.2
Author: ThemeAlley.com
Author URI: http://www.themealley.com/
Tags: black, blue, gray, green, brown, pink, yellow, tan, purple, red, dark, light, silver, white, one-column, two-columns, three-columns, custom-menu, right-sidebar, fixed-layout, fluid-layout, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, full-width-template, custom-header, flexible-header, responsive-layout, translation-ready, editor-style
License: GNU General Public License
License URI: license.txt


Alexandria WordPress Theme, Copyright 2013 ThemeAlley.com
Alexandria is distributed under the terms of the GNU GPL

Alexandria is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Fonts
-------------------------------------------------------------- */

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('skins/fonts/chunkfive/Chunkfive-webfont.eot');
    src: url('skins/fonts/chunkfive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('skins/fonts/chunkfive/Chunkfive-webfont.woff') format('woff'),
         url('skins/fonts/chunkfive/Chunkfive-webfont.ttf') format('truetype'),
         url('skins/fonts/chunkfive/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('skins/fonts/titillium/TitilliumText22L003-webfont.eot');
    src: url('skins/fonts/titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('skins/fonts/titillium/TitilliumText22L003-webfont.woff') format('woff'),
         url('skins/fonts/titillium/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('skins/fonts/titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('skins/fonts/titillium/TitilliumText22L004-webfont.eot');
    src: url('skins/fonts/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('skins/fonts/titillium/TitilliumText22L004-webfont.woff') format('woff'),
         url('skins/fonts/titillium/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('skins/fonts/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileRegular';
    src: url('skins/fonts/nobile/nobile-webfont.eot');
    src: url('skins/fonts/nobile/nobile-webfont.eot?#iefix') format('embedded-opentype'),
         url('skins/fonts/nobile/nobile-webfont.woff') format('woff'),
         url('skins/fonts/nobile/nobile-webfont.ttf') format('truetype'),
         url('skins/fonts/nobile/nobile-webfont.svg#NobileRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
td {
	padding:1% 2%;	
}
.odd {
	background:url(images/ten.png);
}
.even {
	background:url(images/five.png);
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #000;
	font-family: 'NobileRegular', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.75;
	word-wrap:break-word;	
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-family: 'TitilliumText22LRegular', sans-serif;
	line-height: 1.25;
}
h1{
	font-size: 48px;
	font-size: 4.8rem;
}
h2{
	font-size: 36px;
	font-size: 3.6rem;
}
h3{
	font-size: 30px;
	font-size: 3.0rem;
}
h4{
	font-size: 26px;
	font-size: 2.6rem;
}
h5{
	font-size: 24px;
	font-size: 2.4rem;
}
h6{
	font-size: 20px;
	font-size: 2.0rem;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
	padding:0 1.5em;
	border-left:1.0em solid #DDDFE2;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 1.5em 0;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color:#000;
	text-decoration:none;
}
a:visited {
	color:#000;
}
a:hover,
a:focus,
a:active {
	color:#575757;
	text-decoration:underline;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

/* Containers
----------------------------------------------- */
#wrapper-one{
	width:100%;	
}
#wrapper-two{
	width:100%;	
}
#wrapper-three{
	width:100%;
}
#page{
	width:100%;
}
.responsive-container{
	width:100%;
}
.header-social{
	width:100%;
	background:#000;
	height:50px;
	display:none;
}
.site-header{
	width:100%;
	background:#1e1f22;
	text-align:center;
}
.site-slider{
	width:100%;
	background:url(images/alexandria/header_overlay.png) top center no-repeat, url(images/alexandria/header_bg.jpg);
}
.site-main{
	width:100%;
	padding:3.5% 0;
}
.content-container{
	width:100%;
}
.full-page-content-area{
	width:100%;
	margin:5% 0;
	float:left;
}
.content-area{
	width:100%;
	margin:5% 0;
	float:left;
}
.site-content{
	width:90%;
	margin:0 5%;	
}
.widget-area{
	width:100%;
	margin:5% 0 0 0;	
	float:left;
	background:#E4E6E9;
}
.footer-social{
	width:100%;
	background:#333437;
}
.site-footer{
	width:100%;
	background:#1f2022;
}
.site-info{
	float:left;
	width:90%;
	padding:5%;
	color:#fff;
}
.footer-widget-two{
	float:left;
	width:90%;
	padding:5%;
	color:#fff;	
}
.footer-widget-three{
	float:left;
	width:90%;
	padding:5%;
	color:#fff;	
}
.footer-widget-two .widget select{
	width:90%;
	margin:5% 5% 5% 0;
	padding:2%;
	color:#fff;
	background:#000;
	border:none;
}
.footer-widget-three .widget select{
	width:90%;
	margin:5% 5% 5% 0;
	padding:2%;
	color:#fff;
	background:#000;
	border:none;
}

/* Logo Section
----------------------------------------------- */
.site-header-half-width-logo{
	width:100%;
	margin:0;
	float:left;	
}
.site-branding{
	padding:7% 0;
}
.site-header-half-width-logo .site-branding{
	text-align:center;
}
.site-branding img{
	max-width:90%;
	height:auto;
}
.site-title a, .site-title a:visited{
	font-family: 'TitilliumText22LMedium';
	font-size: 60px;
	font-size: 6.0rem;
	color: #fff;
	text-decoration:none;
	line-height:1.1;
}
.site-description{
	color: #fff;
	font-family: 'NobileRegular', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
}
.site-header-half-width-nav{
	width:100%;
	margin:0;
	float:left;
	border-top:1px solid #000;
}

/* =Menu
----------------------------------------------- */
.tinynav { width:80%; display: block; margin:4% auto; padding:1%; background:#000000; color:#fff; border:1px solid #000; font-size:14px; font-size:1.4rem; }
#main-nav { display: none }
	
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	display:inline-block;
	position: relative;
	padding:0.3em 1.5em;
	margin:0.5em 1.0em 0.5em 0;
}
.main-navigation li:hover {
	background:#000;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color:#fff;
}
.main-navigation ul ul {
	display: none;
	float: left;
	position: absolute;
		top: 2.3em;
		left: 0;
	z-index: 99999;
	background:#000;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
	color:#fff;
}
.main-navigation ul ul li {
	margin:0;
	text-align:left;
}
.main-navigation ul ul li:hover {
	background:#252525;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item,
.main-navigation li.current-menu-item {
	background:#000;	
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}
.nav-border-top{
	border-top:1px solid #000;
}

/* =Site-Header
----------------------------------------------- */

.site-slider-custom-header{
	width:100%;
	margin:0;
	text-align:center;
	line-height:0;
}
.site-slider-custom-header img{
	max-width:100%;
	height:auto;
}
.site-slider-slider-one{
	width:100%;
	margin:7.9% 0;	
}
.site-slider-slider-one-image{
	float:left;
	width:90%;
	margin:0 5%;
	text-align:center;
}
.site-slider-slider-one-image img{
	max-width:90%;
	height:auto;
}
.site-slider-slider-one-text{
	float:left;
	width:90%;
	margin:0 5%;
}
.site-slider-slider-one-text-heading{
	width:86%;
	margin:0 7% 0 7%;
	padding:0 0 40px 0;
	text-align:center;
	font-size:60px;
	font-size:6.0rem;
	text-shadow: 1px 1px #000000;
	color:#fff;
	line-height:1.0;
	font-family:'TitilliumText22LMedium';
}
.site-slider-slider-one-text-description{
	width:86%;
	margin:0 7% 0 7%;
	padding:0 0 40px 0;
	text-align:center;
	color:#fff;
	line-height:1.5;
}
.site-slider-slider-one-text-button{
	width:86%;
	margin:0 7% 0 7%;
	padding:0 0 40px 0;
	text-align:center;	
}
.site-slider-slider-one-text-button a{
	font-family: 'TitilliumText22LRegular', sans-serif;
	font-size:24px;
	font-size:2.4rem;
	color:#fff;	
	border-bottom: 4px solid #000000;
	background:#333437;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    display: inline-block;
    padding: 15px 50px;
	line-height:1.0;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: inline;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.more-link{
	background:#c3c5c7;
	padding:0.2em 1.0em;
	margin:0.5em 0.5em 0.5em 0;
	display:inline-block;	
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-links a{
	margin: 0 0 0.5em 0.5em;
	background:#dddfe2;
	padding:0.2em 0.5em;
	font-size:13px;
	font-size:1.3rem;
}
.post .entry-title{
	border-bottom:1px solid #dddfe2;
	padding:0 0 0.2em 0;
}
.page .entry-title{
	border-bottom:0;
	padding:0 0 0.2em 0;
}
.post-ratings img{
	margin:2px 2px 2px 0;
}
.entry-featured-image{
	width:100%;
	margin:0 0 20px 0;
}
.entry-meta{
	margin:0;
	padding:0.5em 0;
	border-bottom:1px solid #dddfe2;	
}
.entry-meta a{
	font-weight:600;	
}
.entry-meta-bottom{
	border-top:1px solid #dddfe2;
}
.entry-meta-bottom-item{
	padding:0.5em 0;
	border-bottom:1px solid #dddfe2;
}
.entry-meta-bottom-item a{
	font-weight:400;
	background:#c3c5c7;
	padding:0.2em 1.0em;
	margin:0 0.5em 0.5em 0;
	display:inline-block;
	font-size: 12px;
	font-size: 1.2rem;		
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.post-navigation{
	background:#dddfe2;
	padding:1.5em 0;
}
.post-navigation .nav-previous{
	background:url(images/single_np_prev.png) no-repeat left;
	min-height:74px;
	width:100%;
	margin:2% 0;
}
.post-navigation .nav-next{
	background:url(images/single_np_next.png) no-repeat right;
	min-height:74px;
	width:100%;
	margin:2% 0;		
}
.post-navigation .nav-previous a{
	margin:0 0 0 50px;
	display:block;
	line-height:1.2;
}
.post-navigation .nav-next a{
	margin:0 50px 0 0;
	display:block;
	line-height:1.2;
}
.post-navigation .nav-previous .meta-nav{
	margin:0 0 0 50px;
}
.post-navigation .nav-next .meta-nav{
	margin:0 50px 0 0;
}

.paging-navigation{
	background:none;
}
.paging-navigation .nav-previous{
	background:#dddfe2 url(images/single_np_prev.png) no-repeat left center;
	padding:0.7em 0 0.9em 0;
	width:100%;
	margin:5% 0;
}
.paging-navigation .nav-next{
	background:#dddfe2 url(images/single_np_next.png) no-repeat right center;
	padding:0.7em 0 0.9em 0;
	width:100%;
	margin:5% 0;
}
.paging-navigation .nav-previous a{
	margin:0 0 0 50px;
	display:block;
	line-height:1.2;
}
.paging-navigation .nav-next a{
	margin:0 50px 0 0;
	display:block;
	line-height:1.2;
}
.paging-navigation .nav-previous .meta-nav{
	margin:0 0 0 50px;
}
.paging-navigation .nav-next .meta-nav{
	margin:0 50px 0 0;
}

/* =Comments
----------------------------------------------- */
.comments-area{
	background:#dddfe2;
	padding:5% 0;
	margin:5% 0;
}
.comments-title{
	width:90%;
	margin:2% 5%;	
}
.comment-navigation{
	width:90%;
	margin:5% 5% !important;	
}
.comment-navigation .nav-previous a{
	background:#c3c5c7;
	padding:0.4em 1.5em;
	display:inline-block;
}
.comment-navigation .nav-next a{
	background:#c3c5c7;
	padding:0.4em 1.5em;
	display:inline-block;
}
.comment-list{
	margin:2% 0;
	list-style:none;	
}
.comment, .pingback, .trackback, .no-comments{
	background:url(images/comments.png);
	padding:4% 0;
	width:90%;
	margin:4% 5% 0 5%;	
}
.comment-body{
	width:90%;
	margin:0 5%;
}
.comment-author{
	width:100%;
}
.comment-author cite{
	background:url(images/ten.png);
	padding:0.2em 1.5em;
	display:inline-block;
}
.comment-author time{
	font-size: 12px;
	font-size: 1.2rem;
	font-weight:600;
}
.comment-author .edit-link{
	font-size: 12px;
	font-size: 1.2rem;
}
.comment-author-image{
		
}
.comment-author-image img{
	max-width:100%;
	height:auto;
}
.comment-author-name{
}
.comment-author-name img{
	float:left;
	margin:0 20px 20px 0;
}
.comment-content{
	clear:both;
	width:100%;
}
.comment-body .reply a{
	background:#000;
	color:#fff;
	padding:0.4em 2.0em;
}
.comment-list ul{
	list-style:none;	
}
.comment-respond{
	width:90%;
	margin:7% 5% 2% 5%;	
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	width:80%;
	margin: 5% 5%;
	padding: 0 5%;
	color:#000;
}
.widget a{
	color:#000;
}
.widget h1 {
	margin: 0 0 0.5em 0;
}
.widget ul {
	margin: 0 0 1.5em 0;
	list-style:none;
}
.widget ul li{
	margin: 0 0 0 1.0em;
	border-bottom:1px solid #d0d2d5;
	padding:0.3em 0;	
}
.widget ul li a{
	text-decoration:none;
	color:#000;
}
.widget ul li ul {
	margin: 0 0 0.3em 0;
	padding:0.3em 0;	
}
.widget ul li ul li{
	margin: 0 0 0 1.0em;
	padding:0.3em 0;
	border-bottom:0;	
}
.search-field{
	width:95%;
	margin-bottom:10px;
	border-radius:0 !important;
	background:#D0D2D5 !important;
	border:0 !important;
	padding:0.7em 0 0.7em 5% !important;
}
.search-submit{
	display:inline-block;
	padding:0.7em 2.5em !important;
	background:#000 !important;
	color:#fff !important;
	border:0 !important;
	box-shadow:none !important;
	line-height:1;
	border-radius:0 !important;
}
/* Footer Widgets */
.site-footer .widget {
	width:80%;
	margin: 5% 5%;
	padding: 0 5%;
	color:#8C9094;
	font-size:14px;
	font-size:1.4rem;
}
.site-footer .widget a{
	color:#8C9094;
}
.site-footer .widget h1 {
	margin: 0 0 0.5em 0;
	color:#B0B5BB;
	font-size:18px;
	font-size:1.8rem;	
}
.site-footer .widget ul {
	margin: 0 0 1.5em 0;
	list-style:none;
}
.site-footer .widget ul li{
	margin: 0;
	border-bottom:1px solid #151618;
	padding:0.3em 0;	
}
.site-footer .widget ul li a{
	text-decoration:none;
	color:#8C9094;
}
.site-footer .widget ul li ul {
	margin: 0 0 0.3em 0;
	padding:0.3em 0;	
}
.site-footer .widget ul li ul li{
	margin: 0 0 0 1.0em;
	padding:0.3em 0;
	border-bottom:0;	
}
.site-footer .search-field{
	background:#2F2F2F !important;
	color:#878786;
}
.site-footer .search-submit{
	background:#000 !important;
	color:#fff !important;
}
.site-footer .wp-caption {
	border: 1px solid #000;
}

/* Make sure select elements fit in widgets */
.widget select {
	width: 90%;
	margin:5%;
	background:#D0D2D5;
}

/* Search widget */
.widget_search .search-submit {
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* BizOne Section
----------------------------------------------- */
.biz0ne{
	width:100%;
}
.biz0ne-welcome{
	width:90%;
	padding:0 5% 5% 5%;
}
.biz0ne-welcome h1{
	width:100%;
	text-align:center;
	padding:0 0 20px 0;
	font-size:50px;
	font-size:5.0rem;
}
.biz0ne-welcome p{
	width:100%;
	text-align:left;
}
.biz0ne-products-services{
	width:90%;
	padding:0 5% 5% 5%;
	overflow:auto;
}
.biz0ne-products-services-item{
	width:100%;
	float:left;
	margin:0 0 7% 0;
}
.biz0ne-products-services-img{
	width:86%;
	margin:0 7%;
	background:#E4E6E9;	
}
.biz0ne-products-services-img img{
	max-width:100%;
	height:auto;
}
.biz0ne-products-services-name{
	width:86%;
	margin:0 7%;
	font-family: 'TitilliumText22LRegular', sans-serif;
	font-size:36px;
	font-size:3.6rem;
	padding:2% 0 0 0;
}
.biz0ne-products-services-description{
	width:86%;
	margin:0 7%;
}
.biz0ne-quote{
	width:90%;
	border:1px solid #E4E7E9;
	margin:0 auto 5% auto;
	overflow:auto;
	padding:30px 0;
}
.biz0ne-quote-text{
	width:90%;
	float:left;
	margin:0 5% 15px 5%;
	background:url(images/quote.png) top left no-repeat;		
}
.biz0ne-quote-text p{
	margin:0 0 0 100px;
}
.biz0ne-quote-name{
	width:86%;
	float:left;
	margin:0 7% 0 7%;
	text-align:right;	
}
.biz0ne-quote-name span{
	padding:0.4em 2.0em;
	display:inline-block;
	background:#E4E7E9;
}

/* BizTwo Section
----------------------------------------------- */
.biztwo{
	width:100%;
}
.biztwo-products-container{
	float:left;
	width:100%;	
}
.biztwo-welcome{
	width:90%;
	padding:0 5% 5% 5%;
}
.biztwo-welcome h1{
	width:100%;
	text-align:center;
	padding:0 0 20px 0;
	font-size:50px;
	font-size:5.0rem;
}
.biztwo-welcome p{
	width:100%;
	text-align:left;
}
.biztwo-products-services{
	width:100%;
}
.biztwo-products-services-item{
	width:90%;
	margin:2% auto;
	overflow:auto;
}
.biztwo-products-services-img{
	float:left;
	width:100%;
}
.biztwo-products-services-img img{
	max-width:100%;
	height:auto;
}
.biztwo-products-services-content{
	float:left;
	width:100%;	
}
.biztwo-products-services-name{
	width:86%;
	margin:0 auto 10px auto;
	text-align:left;
	font-family: 'TitilliumText22LRegular', sans-serif;
	font-size:36px;
	font-size:3.6rem;	
}
.biztwo-products-services-description{
	width:86%;
	margin:0 auto 10px auto;
	text-align:left;
}
.biztwo-quote{
	width:90%;
	border:1px solid #E4E7E9;
	margin:0 auto 5% auto;
	overflow:auto;
	padding:30px 0;
}
.biztwo-quote-text{
	width:90%;
	float:left;
	margin:0 5% 15px 5%;
	background:url(images/quote.png) top left no-repeat;		
}
.biztwo-quote-text p{
	margin:0 0 0 100px;
}
.biztwo-quote-name{
	width:86%;
	float:left;
	margin:0 7% 0 7%;
	text-align:right;	
}
.biztwo-quote-name span{
	padding:0.4em 2.0em;
	display:inline-block;
	background:#E4E7E9;
}

.biztwo-portfolio-container{
	float:left;
	width:100%;	
}
.biztwo-portfolio{
	width:90%;
	margin:15px auto 0 auto;
	background:#E4E6E9;
	min-height:300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}
.biztwo-portfolio-heading{
	width:90%;
	padding:0 5%;
	background:url(images/ten.png);
	font-size:36px;
	font-size:3.6rem;
	text-align:left;
	font-family: 'TitilliumText22LRegular', sans-serif;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;		
	margin:0 0 20px 0;
}
.biztwo-portfolio-item{
	padding:0 0 20px 0;
}
.biztwo-portfolio-item-image{
	width:86%;
	margin:0 auto;	
}
.biztwo-portfolio-item-image img{
	max-width:100%;
	height:auto;	
}
.biztwo-portfolio-item-name{
	width:90%;
	margin:0 auto;
	text-align:center;	
}

/* Social Section
----------------------------------------------- */
.footer-social-icons{
	width:90%;
	text-align:center;
	padding:15px 0 10px 0;
	margin:0 5%;
}
.footer-social-icons li{
	display:inline-block;
}

/* Footer Section
----------------------------------------------- */
.site-info a{
	color:#fff;
}
.site-info h3{
	font-size:48px;
	font-size:4.8rem;
	font-family:'ChunkFiveRegular';
	line-height:1.1;
	width:86%;
	margin:0 7%;
	text-align:center;
}
.site-info h3 a{
	color:#515254;
}
.site-info p{
	width:84%;
	margin:0 8% 5px 8%;
	color:#515254;
	line-height:1.3;
	text-align:center;
}
.site-info p a{
	color:#515254;
}
.site-info p a:hover{
	text-decoration:none;
}
.footer-search{
	width:64%;
	margin:20px auto 5px auto;	
}
.footer-search .search-field{
	background:#2F2F2F !important;
	color:#878786;
}
.footer-search .search-submit{
	background:#000 !important;
	color:#fff !important;
}

.wpcf7-text{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;
}
.wpcf7-textarea{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;
}
.wpcf7-select{
	background:#e0e2e5 !important;
	border:none;
}
.wpcf7-quiz{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;
}
.wpcf7-date{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;	
}
.wpcf7-number{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;	
}
.wpcf7-captchar{
	background:#e0e2e5 !important;
	border:3px solid #d8d9dc !important;	
}
.wpcf7-submit{
	background:#000 !important;
	color:#fff !important;
	padding:1.0em 3em !important;
	box-shadow:none !important;
	text-shadow:none !important;
}

/* Responsive Rules
----------------------------------------------- */

/* styles for less than 400px */
@media screen 
and (max-width : 399px) {

}

/* styles for 400px - 600px */
@media screen 
and (min-width : 400px) 
and (max-width : 599px) {
	
}


/* styles for 600px - 900px */
@media screen 
and (min-width : 600px) 
and (max-width : 900px) {

.site-branding{
	padding:5% 0;
}
}


/* styles for 901px - 1200px */
@media screen 
and (min-width : 901px) {

.responsive-container{
	max-width:1200px;
	margin:0 auto;
}
.site-header-half-width-logo{
	width:38%;
	margin:1.5% 3%;
	float:left;	
}
.site-header-half-width-logo .site-title, .site-header-half-width-logo .site-description{
	text-align:left;
}
.site-branding{
	padding:3% 0;
}
.site-header-half-width-logo .site-branding{
	text-align:left;
}
.site-header-half-width-nav{
	width:50%;
	float:left;
	margin:3.5% 3% 1.5% 3%;
	border-top:0;
}
.main-navigation {
	padding:1.5% 0;
}
.tinynav { display: none }
#main-nav { display: block }
.site-slider-slider-one-image{
	float:left;
	width:50%;
	margin:0;
}
.site-slider-slider-one-text{
	float:left;
	width:46%;
	margin:0 2%;	
}
.site-slider-slider-one-text-heading{
	text-align:left;
}
.site-slider-slider-one-text-description{
	text-align:left;
}
.site-slider-slider-one-text-button{
	text-align:left;	
}
.content-area{
	width:60%;
	margin:2% 4% 2% 2%;
	float:left;
}
.site-content{
	width:100%;
	margin:0;	
}
.paging-navigation .nav-previous{
	width:50%;
	margin:0;	
}
.paging-navigation .nav-next{
	width:50%;
	margin:0;	
}
.post-navigation .nav-previous{
	width:50%;
}
.post-navigation .nav-next{
	width:50%;
}
.widget-area{
	width:32%;
	margin:2% 2% 2% 0;	
	float:left;
}
.biz0ne-products-services-item{
	float:left;
	width:33.33%;	
	margin:0;
}
.biz0ne-quote{
	margin:0 auto 2% auto;
}
.biztwo-products-container{
	float:left;
	width:66%;	
}
.biztwo-welcome h1{
	text-align:left;
}
.biztwo-products-services-img{
	float:left;
	width:40%;
}
.biztwo-products-services-content{
	float:left;
	width:60%;	
}
.biztwo-portfolio-container{
	float:left;
	width:34%;	
}
.site-info{
	width:40%;
	padding:5% 0;
}
.footer-widget-two{
	width:30%;
	padding:5% 0;
}
.footer-widget-three{
	width:20%;
	padding:5% 0;
}
.site-info h3{
	text-align:left;
}
.site-info h3 a{
	color:#515254;
}
.site-info p{
	text-align:left;
}
.footer-search{
	width:64%;
	margin:20px 8% 5px 8%;	
}
}