/*
Theme Name: D5 Design
Theme URI: http://d5creation.com/theme/design/

Author: D5 Creation
Author URI: http://d5creation.com/

Description: Design is WordPress Latest Version Ready CSS3 Powered super elegant and Professional Responsive Theme. Design is for Smart Companies and Persons who love to innovate. Customizable Background and Them Options will give the WordPress Driven Site an attractive look. Right and Footer Sidebar will be usable for showing the widgets. Full Wide page can be used for showing showcase or other pages. Pro version of Design Theme has more than 100 Options which will give you the opportunity to customize almost all the features of this Theme with extra functionality. A demo of Design Theme can be found here: http://demo.d5creation.com/themes/?theme=Design

Version: 1.9.1

Tags: gray, light, black, orange, blue, white, two-columns, right-sidebar, fixed-layout, fluid-layout, custom-header, custom-background, custom-menu, threaded-comments, sticky-post, rtl-language-support, full-width-template, theme-options 

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

D5 Design WordPress Theme, Copyright 2012-2014: D5 Creation (www.d5creation.com)
D5 Design is distributed under the terms of the GNU GPL

Text Domain: design

*/
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

caption, th, td {
	text-align: right;
}

/* =WordPress Core and Addition
-------------------------------------------------------------- */
.alignnone,
#content .alignnone,
#content-full .alignnone,
div .alignnone {
	margin: 5px 0 20px 20px;
}

.alignleft,
#content .alignleft,
#content-full .alignleft,
div .alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.alignright,
#content .alignright,
#content-full .alignright,
div .alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

a img.alignnone {
	margin: 5px 0 20px 20px;
}

a img.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

.wp-caption.alignnone {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

/* =Structure
----------------------------------------------- */

#top-menu-container input#s {
	background: url("images/search.png") no-repeat scroll left 50% #EEEEEE;
	float: left;
	padding: 5px 10px 5px 25px;
}

img.site-logo, h1.site-title {
	float: right;
}

#content {
	float:right;
}

#left-sidebar {
	float: left;
}

/* Common Elements 
------------------------------------------------------------- */
ol, 
ul {
	padding: 0 10px 10px 0;
}

address {
	text-align: left;
}

/* Menu Elements 
------------------------------------------------------------- */

#design-main-menu {
	float: left;
}

#design-main-menu .menu {
	float: left;
}

#design-main-menu li {
	float: right;
}

#design-main-menu li ul {
	float: right;
}

#design-main-menu ul ul, 
.sub-menu, .sub-menu ul ul {
	right: 0;
	left: auto;
}

#design-main-menu ul ul ul {
	right: 100%;
	left: auto;
}

#design-main-menu ul ul a {
	text-align: right;
}

#design-main-menu ul ul a:hover {
	padding-right: 20px;
	padding-left: 0;
}

/* Wedget Elements 
------------------------------------------------------------- */

#left-sidebar .widget {
	float: left;
}

#left-sidebar .widget li {
	padding: 5px 17px 5px 0;
}

#footer-sidebar #first-footer-widget {
	float:right;
}

#footer-sidebar #footer-widgets {
	margin-right: 30px;
	float:right;
	margin-left: auto;
}

#footer-sidebar .widget li {
	padding: 3px 17px 3px 0;
}

/* Design Elements 
------------------------------------------------------------- */

.post.sticky, 
.sticky {
	background: url("images/sticky.png") no-repeat scroll left top transparent;
}

.featured-boxs {
	margin-left: -25px;
	margin-right: auto;
}

.featured-box {
	float: right;
	margin-left: 25px;
	margin-right: auto;
}

.featured-box .read-more {
	margin-right: 20px;
	margin-left: auto;
}

.featured-content1 {
	float: right;
}

.featured-content2 {
	float: left;
}

blockquote {
	border-right: 10px solid #00ACCF;
	border-left: 10px solid #00ACCF;
}

blockquote:before {
	margin-left:.20em;
	margin-right: auto;
}

blockquote:after {
	margin-right:.20em;
	margin-left: auto;
}

#container #content-full .thumb {
	margin: 5px 0 20px 10px;
	float:right;
}

#container .attachment-post-thumbnail {
	float: left;
}

h1.page-title, 
h1.arc-post-title {
	text-align: right;
}

h2.post-title, 
h2.comments, 
h3#reply-title, 
h2.post-title-color {
	text-align: right;
}

.postmetadata {
	text-align:left;
}

.floatright {
	float: right;
	text-align:right;
}

.floatleft {
	float: left;
	text-align:left;
}

#page-nav .alignleft {
	text-align:left;
}

#page-nav .alignright {
	text-align:right;
}

/*.... Comments ......
-------------------------------------------------- */

#commentsbox .avatar {
	float: right;
	right: -100px;
	left: auto;
}

.comment-body {
	border-left: 2px solid #06a8dd;
	border-right: none;
}

#commentsbox .comment-body ol li {
	padding: 5px 20px 5px 0;
}

#commentsbox .comment-body ul  li {
	padding: 5px 20px 5px 0;
}

#commentsbox .commentlist li.comment {
	padding: 5px 50px 0 0;
	padding:5px 100px 0 0;
}

/*..... Others 
-------------------------------------------------- */

/* =Media Print
-------------------------------------------------------------- */
@media print {

}

/* =Responsive Design
-------------------------------------------------------------- */
@media screen and (max-width: 800px) {

}

