/*
Theme Name: Zippy
Theme URI: http://www.mageewp.com/zippy/
Description: Zippy is a clean responsive free corporate wordpress theme designed for users who want to do online business at home and people who desire to build a personal blog with simple steps without knowing codes. Zippy enables to change background colours or upload background images to make website special. Other features includes flexible slider, customize fonts, social network links and footer widget options to design your site exactly as you wish.
Version: 1.0.9
Author: Magee
Author URI: http://www.mageewp.com
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, dark, light, gray, red,  orange, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, sticky-post, theme-options, right-sidebar, featured-images, threaded-comments, fixed-layout, flexible-header

Zippy Wordpress Theme has been created by mageewp.com,Copyright 2013 WordPress.org.
Zippy Wordpress theme is released under the terms of GNU GPL.

*/
body {
	font:13px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	background:#dfdfdf;
	color:#666;
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;
}
h1 {
	font-size:2em;
	line-height:28px;
}
h2 {
	font-size:22px;
	line-height:30px;
}
h3 {
	font-size:18px;
	line-height:26px;
}
h4 {
	font-size:16px;
}
h5 {
	font-size:14px;
	line-height:22px;
}
h6 {
	font-size:13px;
	line-height:20px;
}
.head ul,
.head ol,
.content_right ul,
.content_right ol,
.comment-wrapper ul, 
.comment-wrapper ol
{
list-style:none!important;
padding-left:0;
}
.blog_item_content ol li ol li,
.blog_item_content ul li ul li {
	padding-left:15px;
}

a {
	text-decoration:none;
	color:#555;
}
a:hover {
	text-decoration:none;
	color:#ff6666;
}
img {
	border:0px;
	vertical-align:middle;
	max-width:100%;
}
.clear {
	clear:both;
}
.head_content {
	width:1000px;
	margin:0 auto;
	position:relative;
}
.logo {
	float:left;
	margin:20px 0px;
	width:260px;
	overflow:hidden;
}
.logo a {
	outline:none;
}
.logo span.logo_pic,
.logo span.tagline {
	display:block;
	width:100%;
}
.tagline{text-transform:uppercase; padding:5px;}
.logo a span {
	font-size:16px;
	font-weight:bold;
}
#nav {
	float:right;
	width:700px;
}
.follow {
	float:right;
}
.follow li {
	float:left;
	padding:0px 8px 0px;
}
.follow li a {
	color:#555;
}
.follow li a span {
	margin:0px 5px;
}
.nav_menu ul {
	float:right;
}
.nav_menu ul li {
	float:left;
	padding:0;
	position:relative;
    height: 40px;
}
.nav_menu ul li a {
	font-size:16px;
	background:#e9e9e9;
	border-radius:50px;
	padding:7px 20px 10px;
	margin:0px 5px;
	outline:none;
}
.nav_menu ul.children,.nav_menu ul.sub-menu {
	display:none;
	position:absolute;
	z-index:999999;
	width:210px;
}
.nav_menu ul.sub-menu li .sub-menu,
.nav_menu ul.children li .children {
	left:100%;
	top:0;
}
.nav_menu ul li a:hover,
.nav_menu .current-menu-parent a,
.nav_menu .current-post-ancestor a,
.nav_menu .current-menu-item a,
.nav_menu .current_page_item a {
	background:#ff6666;
	color:#FFFFFF !important;
}
.nav_menu .current-menu-parent ul li a,
.nav_menu .current-post-ancestor  ul li a,
.nav_menu .current-menu-item  ul li a,
.nav_menu .current_page_item  ul li a {
	background:none !important;
	color:#666666 !important;
}
.nav_menu ul li ul {
	border:1px solid #f96673;
	width:200px;
	padding:5px;
	margin-top:12px;
	border-radius:5px;
	position:absolute;
	left:0;
	top:100%;
	margin-top:0px;
	background:#fff;
	z-index:99999;
}
.nav_menu ul li ul li {
	height:28px;
	padding:0;
	display:inline-block;
	width:100%;
}
.nav_menu ul li ul li a {
	color:#666;
	padding:0;
	background:none;
	line-height:28px;
	width:100%;
	font-size:13px !important;
	text-transform:none;
}
.nav_menu ul li ul li a span {
	border-bottom:none !important;
	padding:5px;
}
.nav_menu ul li ul li a:hover {
	color:#fff;
}
.nav_menu ul li ul li:hover {
	background:#f96673;
	border-radius:5px;
}
.nav_menu li.menu_last_item ul li ul {
	left:-100% !important;
}
.banner {
	background-color:#333;
}
.camera_wrap .camera_pag .camera_pag_ul {
	padding-right:50px!important;
}
.camera_caption .slide-title a {
	font-weight:bold;
	color:#fff!important;
}
#back_to_camera {
	clear:both;
	display:block;
	height:80px;
	line-height:40px;
	padding:20px;
}
.fluid_container {
	margin:0 auto;
	max-width:1000px;
	width:90%;
}
.main_content {
	width:1000px;
	overflow:hidden;
	margin:0 auto;
}
.main_content .title {
	font:italic bold 45px/50px Georgia,Arial,Helvetica,sans-serif;
	color:#ff6666;
	text-align:center;
	padding-bottom:56px;
	width:100%;
	font-weight:normal;
}
.border-top {
	border-top:1px solid #c7c7c7;
}
.box {
	padding:60px 0;
	position:relative;
}
.columns-3 {
	width:26%;
	border-right:1px solid #c7c7c7;
	padding:5px 54px 0px;
}
.says {
	display:none;
}
.columns-3.last33 {
	padding-left:0px !important;
}
.columns-3.last3 {
	padding-right:0px !important;
	border:0px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.footer_service_4,.last {
	padding:0;
	margin-right:0 !important;
	clear:right;
}
.more a {
	color:#ff0000;
}
.box h2 {
	font-size:22px;
	color:#444;
	padding-bottom:25px;
	line-height:30px;
}
.box .text {
	font-size:14px;
	padding:20px 0px;
}
.box2 {
	padding:60px 0;
	position:relative;
}
.comment-wrapper {
	margin-top:50px;
	clear:both;
}
.columns-4 {
	width:23%;
	margin-right:2.66666%;
}
.images {
	text-align:center;
}
.box2 h2 {
	font-size:22px;
	color:#444;
	text-align:center;
	padding:25px 0 20px 0;
	line-height:30px;
}
.box2 .text {
	text-align:center;
}
.copyright {
	padding:20px 0px;
}
.row-fluid {
	width:100%;
}
.container {
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	padding:12px 0;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;
}
.nav-molu {
	background-color:#333;
	background-image:url(images/nav.jpg);
	background-size:100% cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	padding-bottom:30px;
	padding-top:30px;
}
.content_left {
	width:72%;
	float:left;
	overflow:hidden;
}
.border-dashed {
	border-left:1px dashed #c7c7c7;
	position:relative;
	margin-left:px;
}
.post-title {
	margin-top:30px;
}
.blog_item_content h1 {
	border-bottom:1px solid #DDD;
	color:#900;
	font-size:2em;
	line-height:28px;
}
.post-date {
	display:block;
	position:relative;
	font-style:italic;
	text-align:center;
	z-index:1;
	float:left;
}
.post_author_timeline {
	background:url(images/vertical.jpg) center repeat-y;
	width:70px;
	top:0%;
	left:1%;
	height:100%;
}
.post-date span {
	background:#ff6666;
	border-radius:100px;
	color:#fff;
	font-variant:small-caps;
	width:70px;
	height:68px;
	top:4px;
	vertical-align:middle;
	display:table-cell;
}
.blog_item {
	margin:60% 0px;
}
.blog_item_content {
	width:610px;
	margin-left:110px;
}
.title_h2 {
	font-size:28px;
	line-height:1.1em;
	margin-bottom:10px;
	border-bottom:1px solid #CCCCCC;
}
.Directory {
	padding:10px 0px 20px 0px;
	color:#777;
}
.text-sep-date {
	padding:0px 10px;
}
.meta_info {
	border-bottom:1px solid #CCCCCC;
	clear:both;
}
.alignright {
	display:inline;
	float:right;
	margin-left:15px;
}
.content_left p {
	margin:0.9em 0;
}
.content_right {
	width:23%;
	float:right;
}
#searchform {
	display:inline-block;
	background:#FFFFFF;
	width:230px;
	height:27px;
	border:1px solid #E0E0E0;
	overflow:hidden;
	margin:40px 0 0 0;
	box-shadow:0 2px 3px #f5f5f5 inset;
}
#searchform .screen-reader-text {
	display:none;
}
#searchform input#s {
	width:195px;
	height:22px;
	margin-top:1px;
	margin-left:5px;
	padding:0px;
	border:0px;
	line-height:24px;
	background:none !important;
}
#searchform input#searchsubmit {
	background:url(images/search.png) no-repeat 0px 6px;
	width:22px;
	height:25px;
	border:none;
	cursor:pointer;
	float:right;
	text-indent:-9999px;
}
.widget {
	}
.widget .widgettitle {
	padding:8px 0px 10px 0;
	border-bottom:1px solid #c7c7c7;
	margin:30px 0px 15px 0px;
}
h3 {
	letter-spacing:1px;
	font-size:18px;
}
.widget ul li {
	background:url(images/li_icon.png) 5px 12px no-repeat;
	padding:4px 0px;
	padding-left:22px;
}
.widget .zippy-recent-post-widget ul li,
.widget .zippy-popular-post-widget ul li {
	background:none;
	padding-left:5px;
}
.widget ul li a {
	}.widget ul li {
	padding-bottom:5px;
}
.widget ul li .image {
	float:left;
	margin-right:20px;
	width:60px;
	margin-top:5px;
	height:50px;
}
.widget ul li .post-holder .meta {
	margin:0;
	margin-top:2px;
	font-size:12px !important;
	color:#747474 !important;
}
div.patt {
	margin:20px;
	text-align:center;
	position:relative;
	z-index:99;
	color:white;
}
div.patt a,
div.patt span {
	padding-left:12px;
	padding-right:12px;
	height:25px;
	line-height:25px;
	display:inline-block;
	text-align:center;
	border-color:inherit;
	background:#CCC;
	color:inherit;
	margin-right:5px;
}
div.patt a {
	background-color:#ff6666;
}
.comment-wrapper h3#comments {
	adding:8px 0px 10px 0;
	border-bottom:1px solid #c7c7c7;
	margin:30px 0px 15px 0px;
	padding-bottom:10px;
}
.comment-wrapper .upcomment {
	margin-bottom:10px;
}
div.children {
	margin-top:10px;
}
#thecomments li.comment {
	clear:both;
	zoom:1;
}
.comment .children li.comment {
	margin-left:58px;
	border-top:1px dashed #aaa;
	margin-top:10px;
	padding-top:20px;
}
.comment.depth-2 .children li.comment {
	margin-left:42px;
}
.comment .comment-avatar {
	float:left;
	height:48px;
	width:48px;
	margin-right:10px;
}
.comment .comment-meta {
	font-size:11px;
	color:#bbb;
	letter-spacing:-1px;
}
.comment .comment-author a {
	color:#0063DC;
}
.comment .comment-author .commentmetadata a {
	color:#666!important;
}
.comment.depth-1 {
	margin-bottom:35px;
}
.comment.depth-2 .comment-avatar,
.comment.depth-2 .comment-avatar img {
	height:38px;
	width:38px;
	margin-right:10px;
}
.comment.depth-1 .comment-info {
	margin-left:58px;
}
.comment.depth-2 .comment-info {
	margin-left:42px;
}
.comment .reply-quote {
	float:right;
	filter:alpha(opacity=0);
	height:20px;
}
.comment .reply-quote a {
	background:url(images/reply.png) no-repeat;
	text-indent:-9999px;
	display:inline-block;
	float:left;
	width:20px;
	height:20px;
	margin-right:10px;
	outline:none;
}
#respond h3 {
	border-bottom:1px dashed #AAAAAA;
	margin-bottom:15px;
	padding-bottom:5px;
}
.comment_text img {
	max-width:100%;
}
#welcome {
	height:50px;
}
.comment_text .fn {
	text-align:right;
	color:#aaa;
}
#commentnavi {
	height:30px;
	line-height:20px;
}
.navigation a,
.navigation .page-numbers {
	display:inline-block;
	zoom:1;
	padding:0 4px;
	border:1px solid #eee;
}
.page-numbers.current {
	font-weight:bold;
	color:red;
}
.navigation a:hover {
	background:#000;
	color:#fff;
}
.navigation .pages {
	padding:2px 0 2px 18px;
}
.comment_text p {
	margin:0px!important;
}
.p_b10 {

	padding-bottom:10px;
}
#commentform input#author,
#commentform input#email,
#commentform input#url {
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:1px;
	font-size:12px;
	color:black;
	border-bottom:#999 thin solid;
	background:none;
	font-style:normal;
	line-height:normal;
	height:18px;
	font-variant:normal;
	font-weight:normal;
}
#commentform #comment {
	background:url("images/line.gif") repeat-y scroll 0 0 rgba(0,0,0,0);
	border:medium none;
	color:#666666;
	font-size:12px;
	height:190px;
	line-height:20px;
	outline:medium none;
	width:99%;
}
#commentform #submit {
	background:#fff;
	border-radius:5px;
	border:0px;
	padding:10px;
	margin:20px 0px;
	text-transform:uppercase;
	font-size:16px;
	color:#666;
	display:block;
	cursor:pointer;
}
.title-h1 {
	font-size:30px;
	padding-top:30px;
}
.contact-message {
	clear:both;
	border:1px solid #CCCCCC;
	border-radius:5px 5px 5px 5px;
	background:#e8e8e8;
	margin:40px 0px;
	text-align:center;
}
.contact-uss {
	margin:20px 0px;
}
.contact-uss span {
	display:block;
	position:relative;
}
.contact-uss a {

	background:#F3F3F3;
	padding:20px;
	border-radius:0px 0px 5px 5px;
	border:1px solid #CCCCCC;
	border-top:0px;
	font-size:20px;
}
.forms {
	padding:20px 0px;
}
.require-field {
	width:450px;
	height:20px;
	border:1px solid #d6d6d6;
	background:#f3f3f3;
	border-radius:5px;
	margin-bottom:15px;
	color:#4c555b;
	font-size:12px;
	padding:5px 10px;
}
.error {
	padding:10px 0px;
}
.forms li {
	line-height:30px;
}
.contact-form-wrapper {
	border:1px solid #d6d6d6;
	border-radius:5px;
	background:#f3f3f3;
	height:165px;
	width:450px;
	padding:10px;
	max-width:100%;
	line-height:20px;
	color:#4c555b;
}
.btn {
	color:#fff !important;
	background:#ff6666;
	border:0 none !important;
	border-radius:5px;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	width:100px;
	height:32px;
	font-weight:bold;
	cursor:pointer;
	box-shadow:none;
	margin:10px 130px 40px 15px;
	float:right;
}
.p_b20 {
	padding-bottom:20px;
}
.title-404 {
	margin-left:auto;
	padding:50px;
	margin-right:auto;
}
.width600 {
	width:600px;
}
.m-r30 {
	margin-right:30px;
}
.title-404 h1 {
	font-size:50px;
	color:#ff6666;
	text-transform:uppercase;
	padding:22px 0px;
}
.title-404 h2 {
	font-size:26px;
	color:#ff6666;
	text-transform:uppercase;
	margin-bottom:10px;
}
.title-404 p {
	font-size:16px;
	text-transform:uppercase;
}
.f16 {
	font-size:16px;
}
.page_404 .search_form {
	width:640px;
	padding:15px 0px;
}
.page_404 .search_text {
	width:488px;
	height:28px;
	line-height:30px;
	font-size:12px;
	color:#CFCFCF;
	border-right:0px;
	border:1px solid #c7c7c7;
	border-radius:50px 0px 0px 50px;
	background-color:white;
	padding:0 8px;
	border-right:0px;
	float:left;
}
.page_404 .search-button {
	background:url(images/search404.png) no-repeat;
	width:84px;
	text-indent:-9999px;
	height:30px;
	border:0px;
	cursor:pointer;
	float:left;
}
.textarea {
	width:646px;
	border:3px solid #CCCCCC;
	background:#F3F3F3;
	height:32px;
	border-radius:5px;
	margin-top:1px;
	margin-left:5px;
	padding:5px;
	line-height:24px;
}
address {
	font-style:italic;
	margin:0 0 24px;
}
abbr[title] {
	border-bottom:1px dotted;
}
b,strong {
	font-weight:bold;
}
dfn {
	font-style:italic;
}
mark {
	background:#ff0;
	color:#000;
}
p {
	margin:0 0 24px;
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:14px;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;

	hyphens:none;
}
pre {
	background:#f5f5f5;
	color:#666;
	font-family:monospace;
	font-size:14px;
	margin:20px 0;
	overflow:auto;
	padding:20px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
blockquote,q {
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	quotes:none;
}
blockquote:before,
blockquote:after,
q:before,q:after {
	content:"";
	content:none;
}
blockquote {
	font-size:18px;
	font-style:italic;
	font-weight:300;
	margin:24px 40px;
}
blockquote blockquote {
	margin-right:0;
}
blockquote cite,
blockquote small {
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
}
blockquote em,
blockquote i {
	font-style:normal;
	font-weight:300;
}
blockquote strong,
blockquote b {
	font-weight:400;
}
small {
	font-size:smaller;
}
sub,
sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
dl {
	margin:0 20px;
}
dt {
	font-weight:bold;
}
dd {
	margin:0 0 20px;
}
th {
	font-weight:bold;
	text-transform:uppercase;
}
td {
	border-top:1px solid #EDEDED;
	padding:6px 10px 6px 0;
}
del {
	color:#333333;
}
ins {
	background:none repeat scroll 0 0 #FFF9C0;
	text-decoration:none;
}
hr {
	background:url("images/dotted-line.png") repeat scroll center top / 4px 4px rgba(0,0,0,0);
	border:0 none;
	height:1px;
	margin:0 0 24px;
}
.blog_item_content ul,.page_content ul {
	list-style-type:square;
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none;
}
.blog_item_content li > ul,
.blog_item_content li > ol,
.page_content li > ul,
.page_content li > ol {
	margin:0 0 0 15px;
}
img {
	-ms-interpolation-mode:bicubic;
	border:0;
	vertical-align:middle;
}
svg:not(:root) {
	overflow:hidden;
}
figure {
	margin:0;
}
form {
	margin:0;
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend {
	border:0;
	padding:0;
	white-space:normal;
}
.blog_item_content  table,
.page_content table {
	border-bottom:1px solid #EDEDED;
	color:#757575;
	font-size:0.857143rem;
	line-height:2;
	margin:0 0 1.71429rem;
	width:100%;
}
.blog_item_content  table caption,
.page_content table caption {
	font-size:1.14286rem;
	margin:1.71429rem 0;
}
.alignleft {
	float:left;
}
.alignright {
	float:right;
}
.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignleft {
	margin:5px 20px 5px 0;
}
.wp-caption.alignleft {
	margin:5px 10px 5px 0;
}
img.alignright {
	margin:5px 0 5px 20px;
}
.wp-caption.alignright {
	margin:5px 0 5px 10px;
}
img.aligncenter {
	margin:5px auto;
}
img.alignnone {
	margin:5px 0;
}
.wp-caption .wp-caption-text,
.entry-caption,.gallery-caption {
	color:#220e10;
	font-size:18px;
	font-style:italic;
	font-weight:300;
}
img.wp-smiley,.rsswidget img {
	border:0;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}
.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
	list-style-position:inside;
}
.sticky {
	}
.bypostauthor > .comment-body .fn:before {
	vertical-align:text-top;
}
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	font:normal 16px/1 Genericons;
	vertical-align:text-bottom;
}
#responsive_current_menu_item {
	display:none;
}
/* Page links */
.page-links {
	clear: both;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 3px 8px;
	text-decoration: none;
	border: 1px solid #FF6666 ;
}

.format-status .entry-content .page-links a,
.format-gallery .entry-content .page-links a,
.format-chat .entry-content .page-links a,
.format-quote .entry-content .page-links a,
.page-links a {
	background: #FF6666 ;
	border: 1px solid #FF6666 ;
	color: #fff;
}

.format-gallery .entry-content .page-links a:hover,
.format-audio .entry-content .page-links a:hover,
.format-status .entry-content .page-links a:hover,
.format-video .entry-content .page-links a:hover,
.format-chat .entry-content .page-links a:hover,
.format-quote .entry-content .page-links a:hover,
.page-links a:hover {
	background: #fff;
	color: #FF6666 ;
}

.format-status .entry-content .page-links > span,
.format-quote .entry-content .page-links > span {
	background: none;
}

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/**
 * Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}
.gallery:after{
clear:both;
}
.gallery-item {
	float: left;
	margin: 0 0px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	/*display: table;*/
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.post-edit-link {
	background:-moz-linear-gradient(center top,#FFFFFF,#F8F8F8 1px,#F1F1F1) repeat scroll 0 0 rgba(0,0,0,0);
	border:1px solid #DDDDDD;
	color:#555555;
	border-radius:5px;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	font-size:14px;
	font-weight:bold;
	height:32px;
	line-height:32px;
	padding:0 10px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(255,255,255,0.3);
	display:inline-block;
	margin:0 15px 15px 0;
}